<div class="contenedor">
  <header>
  <div class="card">
    <img src="../assets/img/PokeballBlue.png" class="rotating">
    <h6>NATIONAL POKÉDEX</h6>
    <img src="../assets/img/PokeballBlue.png" class="rotating">
  </div>
    <div class="byNumber">
      <h6>Por Número</h6>
    </div>
  </header>
  <body>
    <router-outlet />
  </body>
  <footer>
    <div class="boton">A</div> Haz Click Para ver al Pokémon
  </footer>
</div>
<!-- <audio controls autoplay loop>
  <source src="../assets/CancionFondo.mp3" type="audio/ogg">
</audio> -->
